#intro {
	text-align: center !important;
}

.displayToggle {
	text-align: center;
	border: transparent;
	background: transparent;
	cursor: pointer;
}

#search {
	display: none;
}
#search .row {
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
}
#search button {
	background-color: transparent;
	border-color: #000 !important;
	color: #000;
	font-weight: bolder !important;
	font-size: .75rem;
}
#search button:hover {
	color: white;
	background-color: #3b3a35;
	-webkit-transition-duration: .25s;
	-moz-transition-duration: .25s;
	-ms-transition-duration: .25s;
	-o-transition-duration: .25s;
	transition-duration: .25s;
}
#search h2 {
	margin: auto !important;
}